// Custom mixins and functions
@mixin breakpoint($point) {
  @if $point == smartphone {
    @media only screen and (max-width : 767px) { @content; }
  }
  @if $point == tablet-portrait {
   @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) { @content; }
  }
  @if $point == tablet-landscape {
   @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)  { @content; }
  }
  @else {
   @media only screen and (max-width: $point) { @content; }
  }
}

@mixin prefixes($property, $values) {
	-webkit-#{$property}: $values;
	-moz-#{$property}: $values;
	-ms-#{$property}: $values;
	-o-#{$property}: $values;  
	#{$property}: $values;
}

@function em($target, $context: 16px) {
   @return #{$target / $context}em;
}

body {
	font-family: "PT Sans", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	max-width: 740px;
	padding: 0 20px;
}
div, ul, li, img {
	box-sizing: border-box;
}
a:link, a:visited {
	color: #03A89E;
	text-decoration: none;
	border-bottom: 2px dotted #03A89E;
}
a:hover, a:active {
	color: lighten(#03A89E, 7);
}
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.bigtext {
	font-family: "Londrina Outline", cursive;
	text-transform: uppercase;
	h1, h2 {	
		color: #fff;
		font-weight: 300;
		line-height: 0.95em;
		margin: 0;
		padding: 0;
		strong {
			font-family: "Londrina Solid", cursive;
		}
		i {
			font-size: .65em;
			font-style: normal;
			position: relative;
			top: -10px;
			padding: 0;
			margin: 0;
		}
	}
	h2:last-child {
		margin-top: 0.25em;
	}
}
.billboard {
	background: url(../images/bg_billboard.jpg) center center no-repeat;
	background-size: cover;
	padding: 50px 0 95px 0;
	h2:last-child {
		line-height: .65em;
	}
}
.main-container {
	p {
		color: #333;
		font-size: em(24px);
		line-height: 1.65em;
		
    @media only screen and (max-width: 480px) {
      font-size: em(21px);
    }
	}
}
.social {
	padding-bottom: 15px;
  position: relative;
	ul {
		float: left;
		margin: 25px 0 0 0;
		padding: 0;
		width: 33.33%;
		li {
			float: left;
			font-family: "Open Sans", Helvetica, sans-serif;
			font-size: em(12px);
			list-style-type: none;
			padding: 0 12px;
			position: relative;
			text-transform: uppercase;
			width: 33.33%;
			span {
				bottom: -20px;
				display: none;
				left: 0;
				padding-top: 5px;
				position: absolute;
				text-align: center;
				width: 100%;
			}
			a {
				border: none;
				display: block;
				min-height: 56px;
				opacity: .9;
				width: 100%;
			}
			a:hover {
				opacity: 1;
			}
			a:hover + span {
				display: block;
			}
		}
		.dribbble {
			background: url(../images/icon_dribbble.png) center center no-repeat;
			background-size: 100%;
		}
		.email {
			background: url(../images/icon_email.png) center center no-repeat;
			background-size: 100%;
		}
		.facebook {
			background: url(../images/icon_fb.png) center center no-repeat;
			background-size: 100%;
		}
		.instagram {
			background: url(../images/icon_instagram.png) center center no-repeat;
			background-size: 100%;
		}
		.twitter {
			background: url(../images/icon_twitter.png) center center no-repeat;
			background-size: 100%;
		}
		.rdio {
			background: url(../images/icon_rdio.png) center center no-repeat;
			background-size: 100%;
		}
	}
	ul:last-child {
		float: right;
	}
	img {
		border: 5px solid #fff;
		border-radius: 200px;
		float: left;
		margin-top: -115px;
		position: relative;
		width: 33%;
		z-index: 2;
	}

  @media only screen and (max-width: 480px) {
    ul {
      clear: left;
      width: 100%;
      li {
        text-align: center;
        a {
          background-position: center;
          background-size: 55px !important;
          display: block;
          margin: 0;
        }
      }

      &:first-child {
        margin-top: 6em;
      }
    }
    img {
      left: 50%;
      margin: 0 0 0 -15%;
      max-width: 125px;
      position: absolute;
      top: -50px;
    }
  }
}
.tabs {
}
.tabs__nav {
  border-bottom: 2px solid #dfdfdf;
  margin: 2em 0 3em 0;
  padding: 0;
  li {
  	box-sizing: border-box;
    float: left;
    font-size: em(21px);
    list-style-type: none;
    margin: 0 0 -2px 0;
    text-align: center;
  	width: 50%;
    a {
      border: none;
      color: #ccc;
      display: block;
      padding: 0.75em;
      text-transform: uppercase;

      &:hover {

      }
    }

    &.selected {
      background-color: #fff;
      border-bottom: 2px solid #03A89E;
      a { 
        color: #03A89E;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    li {
      font-size: em(16px);
    }
  }
}

#work {
  &> p {
    padding-bottom: 1em;
    text-align: center;
  }
}

.work__item {
  border-top: 1px solid #ddd;
  margin-top: 2em;
  padding: 2.5em 0 5em 0;
  text-align: center;
  h3 {
    font-size: em(40px);
    margin: {
      top: 0;
      bottom: 0;
    }

    &+ a {
      border: none;
      font-size: em(18px);
    }
  }

  p {
    color: #aaa;
    font-size: em(18px);
    margin-top: 1.5em;
  }

  a {
    border: none;
  }

  img {
    box-shadow: 0 0 15px rgba(200,200,200, 0.35);
    margin-top: 1.5em;
    max-width: 100%;
  }

  &:first-child {
    border-top: 0;
    padding-top: 0.5em;
  }
}

// Modals
@import "magnific.css";
.mfp-content {
  max-width: 80%;
}

footer.container {
	padding-top: 50px;
	p {
		background: url(../images/dogs.png) center top no-repeat;
		background-size: 65px;
		font-family: "Open Sans", Helvetica, sans-serif;
		margin: 0 auto;
		padding: 55px 0 20px 0;
		text-align: center;
		text-transform: uppercase;
		span {
		//	background: #7d2018;
			color: #333;
			font-size: em(14px);
			padding: 5px 15px 3px 15px;
		}
	}
}