/* line 29, ../sass/style.scss */
body {
  font-family: "PT Sans", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/style.scss */
.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 20px;
}

/* line 39, ../sass/style.scss */
div, ul, li, img {
  box-sizing: border-box;
}

/* line 42, ../sass/style.scss */
a:link, a:visited {
  color: #7d2018;
}

/* line 45, ../sass/style.scss */
a:hover, a:active {
  color: #bd3024;
}

/* line 48, ../sass/style.scss */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 55, ../sass/style.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 60, ../sass/style.scss */
.bigtext {
  font-family: 'Londrina Outline', cursive;
  text-transform: uppercase;
}
/* line 63, ../sass/style.scss */
.bigtext h1, .bigtext h2 {
  color: #fff;
  font-weight: 300;
  line-height: 0.95em;
  margin: 0;
  padding: 0;
}
/* line 69, ../sass/style.scss */
.bigtext h1 strong, .bigtext h2 strong {
  font-family: 'Londrina Solid', cursive;
}
/* line 72, ../sass/style.scss */
.bigtext h1 i, .bigtext h2 i {
  font-size: .65em;
  font-style: normal;
  position: relative;
  top: -10px;
  padding: 0;
  margin: 0;
}

/* line 82, ../sass/style.scss */
#billboard {
  background: url(/images/bg_billboard.jpg) center center no-repeat;
  background-size: cover;
  padding: 50px 0 75px 0;
}
/* line 86, ../sass/style.scss */
#billboard h2:last-child {
  line-height: .65em;
}

/* line 91, ../sass/style.scss */
#main-container p {
  color: #333;
  font-size: 1.5em;
  line-height: 1.65em;
}

/* line 98, ../sass/style.scss */
#social {
  padding-bottom: 15px;
}
/* line 100, ../sass/style.scss */
#social ul {
  float: left;
  margin: 25px 0 0 0;
  padding: 0;
  width: 33.33%;
}
/* line 105, ../sass/style.scss */
#social ul li {
  float: left;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 0.75em;
  list-style-type: none;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  width: 33.33%;
}
/* line 114, ../sass/style.scss */
#social ul li span {
  bottom: -20px;
  display: none;
  left: 0;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 123, ../sass/style.scss */
#social ul li a {
  display: block;
  min-height: 56px;
  opacity: .9;
  width: 100%;
}
/* line 129, ../sass/style.scss */
#social ul li a:hover {
  opacity: 1;
}
/* line 132, ../sass/style.scss */
#social ul li a:hover + span {
  display: block;
}
/* line 136, ../sass/style.scss */
#social ul .dribbble {
  background: url(/images/icon_dribbble.png) center center no-repeat;
  background-size: 100%;
}
/* line 140, ../sass/style.scss */
#social ul .email {
  background: url(/images/icon_email.png) center center no-repeat;
  background-size: 100%;
}
/* line 144, ../sass/style.scss */
#social ul .facebook {
  background: url(/images/icon_fb.png) center center no-repeat;
  background-size: 100%;
}
/* line 148, ../sass/style.scss */
#social ul .instagram {
  background: url(/images/icon_instagram.png) center center no-repeat;
  background-size: 100%;
}
/* line 152, ../sass/style.scss */
#social ul .twitter {
  background: url(/images/icon_twitter.png) center center no-repeat;
  background-size: 100%;
}
/* line 156, ../sass/style.scss */
#social ul .rdio {
  background: url(/images/icon_rdio.png) center center no-repeat;
  background-size: 100%;
}
/* line 161, ../sass/style.scss */
#social ul:last-child {
  float: right;
}
/* line 164, ../sass/style.scss */
#social img {
  border: 5px solid #fff;
  border-radius: 200px;
  float: left;
  margin-top: -115px;
  position: relative;
  width: 33%;
  z-index: 2;
}

/* line 174, ../sass/style.scss */
footer.container {
  padding-top: 50px;
}
/* line 176, ../sass/style.scss */
footer.container p {
  background: url(/images/dogs.png) center top no-repeat;
  background-size: 50%;
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 0 auto;
  padding: 80px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 25%;
}
/* line 185, ../sass/style.scss */
footer.container p span {
  color: #333;
  font-size: 0.875em;
  padding: 5px 15px 3px 15px;
}
